<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="../public/css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment </h1>
      <p> Xunhao Yang </p>
    </div>

    <div>
      <h1 >Comprehensive Alarm</h1>
    </div>


    <div>
      <p class="para">Our product is a smartwatch that embed all severe accident detection algorithm so that when in danger, 911 is called immediately.</p>
    </div>

    <div class="border solid">solid border</div>
    <div class="border dashed">A dashbed border</div>
    <div class="border dotted">A dotted border</div>
    <div class="border double">A double border</div>
    <div class="border groove">A groove border</div>
    <div class="border ridge">A ridge border</div>
    <div class="border inset">An inset border</div>
    <div class="border outset">An outset border</div>
    <div class="border multi">Multiple borders</div>
    <div class="border hidden">A hidden border</div>
    <div class="border none">No border</div>