<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>
    <br>
      <p>Pill Care is a pill taking reminder designed for elders to take pill on time regularly.</p>
    <br>
    <p>click here for more information:</p><br>
    <a href='/product'><button type="button" class="block">product</button></a>
    
    <br>
    <a href='/kvp'><button type="button" class="block">KVP</button></a>
    <br>
    <a href='/UI'><button type="button" class="block">Mock Up of the UI</button></a>
    <br>
    <a href='/laws'><button type="button" class="block">Design of Laws</button></a>
    <br>
    <a href='/IA'><button type="button" class="block">Pill Care's envisioned IA</button></a>
    <br>
    <a href='/UX'><button type="button" class="block">User Experience</button></a>
       
<table>
      <caption>Team Information</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Job role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Xunhao Yang</th>
          <td>x5yang@ucsd.edu</td>
          <td>Embedded system and business</td>
        </tr>
        <tr>
          <th scope="row">Shixuan Wu</th>
          <td>shw003@ucsd.edu</td>
          <td>Market fit finder</td>
        </tr>
        <tr>
          <th scope="row">Gaopuo Huang</th>
          <td>ghuang@ucsd.edu</td>
          <td>Front-End Developer</td>
        </tr>
        <tr>
          <th scope="row">Junzhe Luo</th>
          <td>j5luo@ucsd.edu</td>
          <td>Back-End Developer</td>
        </tr>
      </tbody>
    </table>
    
    