<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>Information Architecture
      </h2>
      <p class="paraBlue solid border">
       What basic information does a typical user need to have access to on first interaction with your product?
        <br>
        <br>
        Our product is a physical device with the following features: 
        <br>
        <br>
        1. Switch: turn on and turn off the device 
        <br>
        2. A display that shows a message and direction delivered to the user 
        <br>
        3. A speaker that plays the audio/recording
        <br>
        4. A microphone to record voice
        <br>
        5. A button near the microphone: when pressed, it will record the sound 
        <br>
        6. volume wheel to control the volume of the speaker
        <br>
        7. A RFID icon indicator so that users know where to scan and verify each bottle 
        <br>
        8. Pill bottle caps with RFID stickers to be placed on each pill bottle
        <br>

        <br>
        <br>
        What IA Design Principles (Dan Brown) are important for your product?
        <br>
        <br>
        Principle of Exemplars: Each time the user needs to set up a medication schedule, the procedure is consistent and predictable by following the instructions. Also, the RFID icon indicator is consistent for the users to place their bottles, similar to most devices with RFID technology 
        <br>
        <br>
        Principle of Disclosure: The home page of the display is a menu. All components serve the focused task, which is setting up the medication alarm for the users with their personal voices. Some other customizable features such as font size and alarm volume can be set but not directly visible to distract the user.
        <br>
        <br>
        Principle of Front Doors: Our display will show the current status (Setting up pill / daily use) at any given time and steps to the operating users where they are. Also, the display will throw an error message if they did something invalid, such as enter the time interval outside 24 hours. 
        <br>
        <br>
        <br>
        <br>
        Which structural Organizational Principle(s) make(s) the most sense for your product?
        <br>
        <br>
        Sequential:  The process of setting up the pill schedule is a sequential procedure where the users will be guided through each step to input the name, amount and time of the pills to take.
        <br>
        <br>
        Hierarchical: The menu on the home page indicates which tasks one wants to do, such as adding pill or editing pill information. Users can choose the task, then proceed into further steps. 
        <br>
        <br>
        <br>
        <br>
        3 of the 12 Principles of Visual Hierarchy used in this website:<br>
        <br>
        <br>
        1. Topical
        <br>
        The buttons in the home page guides to information allocated based on content similarities.
        <br>
        <br>
        2. Typographic Hierarchy
        <br>
        The title Pill Care in every page is always the largest text in the page. 
        <br>
        <br>
        3. Alignment
        <br>
        Buttons in the home page aligns vertically.


      
      </p> 
    </div>

    

   

 
    
  </body>>  

    
    