<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>Key Value Proposition:</h2>
      <p class="paraBlue solid border">
        Our Pill Care<br> 
        Helps family who have elders to take correct pills on time regularly<br>
        by reminding elders to take correct type and amount of pill using customized family members' voice records<br>
        and give the family a chance to bond the youngs and elders<br>
        unlike HERO, Script talk, and CVS's App.
        </p> 
    </div>



    <div>
      <p class="paraBlue solid border">
        our product falls into accessibility and experience of family bonding of KVP categories.<br>
        benefits:<br>
        1. remind the elders to take pill on time and correctly without reading words.<br>
        2. promote family bonding of the youngs and elders.
        </p> 
    </div>

    <div>
      <h2>Competitive Analysis:</h2>
      <p class="paraBlue solid border">
        <a href="https://herohealth.com/our-product/?utm_source=google%20merchant&utm_medium=banner&utm_campaign=google%20merchant%2C%20google%20search&utm_campaign=ssc-acq-maxc&utm_source=google&utm_medium=shopping&gclid=Cj0KCQjwgMqSBhDCARIsAIIVN1UI70OiGXWKPKjSQUCRf1RSn7oLuU5xEbVfwkxrskhNGdqC0B-jgRAaAhKvEALw_wcB">HERO</a>
        <br>Pill dispenser that holds up to 10 types of pills, using sound alarms and auto spit out the desired pills
        <br>
        <br>
        <a href="https://www.fiercehealthcare.com/tech/cvs-rolls-out-talking-prescription-labels-for-visually-impaired-patients">CVS App</a>
        <br>The App is able to voice out the prescription with scanning the pill bottle
        <br>
        <br>
        <a href="https://www.envisionamerica.com/scriptalk-station-for-patients">Scrip Talk</a>
        <br>Readable pill bottles and voice machines with pharmacists setting for you.
        <br>
        <br>  
      
        <img src="competitive_analysis.png" width="500" height="600">


        <br>Conclusion:
        <br>1. Compared to CVS’s App that needs to use App’s scan functionality, which might be troubling for elders who are not good at using phones, Pill Care allows the elders to simply put the pill bottle on the Pill Care to get information.
        <br>2. Compared to Scrip Talk that is set by physicians, Pill Care allows family members to set up, customizing voices and records that elders are more comfortable with. Also, not all pharmacies support Scrip Talk.
        <br>3. Compared to Hero, which does a good job of simplifying product usage process and auto pill dispensing, its one problem is its high price of the machine (100$) and monthly subscription fee (25$). Pill Care offers no subscription fee and now estimates a price lower than 50$.

      </p> 
    </div>

    
    
  </body>  

    
    