<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>Laws of Design examples</h2>
      <p class="para solid border">
        Law of Pragnaz:<br>
        <img src="laws1.jpg" width="800" height="600"><br>
        The icon under microphone and speaker plugin place is intuitive for human user to think of a mic and a head phone so that they can classify this clearly and plug in the right place. 
        <br><br>
        Millers Law:<br>
        <img src="laws2.png" width="800" height="600"><br>
        The wiki home page contains to much choices and selection on the left side of the website that people might be unable to reachout to the button they want.
        <br><br>
        Jacob's law:<br>
        <img src="laws3.jpg" width="500" height="600"><br>
        The design of Find My App in iPhone has a navigation bar that is similar to what android device used to have. This kind of bottom navigation bar has become a common design choice for both the designers and users.
      
      </p> 
    </div>

    

   

 
    
  </body>>  

    
    