<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    

    <div>
      <h2>Pivot</h2>
      <p class="paraBlue solid border">
        <br>
        Pivot 1:
        <br>
        Customer-need pivot:
        <br>
          We still focus on elders but we find that elders taking pills on time is a more serious and clear problem compared to wearable watches that detect unprecedented falling. The need is larger and more inevitable, and the customer is easier to accept the product of pill-taking reminders compared to a watch that requires constant wearing with a GPS location feature. 
        Original: Wearable Watch that detects falling for elders
        <br>
        Now: a box that reminds elders to take pills on time with the correct dosage with the care of family members. 
        <br>
        <br>
        Pivot in the future: 
        <br>
        Zoom-out Pivot 
        <br>
        Now: a box that reminds elders to take pills on time with the correct dosage with the care of family members. 
        <br>
        Future: Auto pill dispenser that will not only remind elders to take pills on time with the correct dosage but also display family members’ messages and photos they upload for elders when taking pills on time. 
        <br>
        <br>
        Business Architecture Pivot
        <br>
        Now: we sell our product directly to the customers (B2C) for those who want a reliable and caring pill reminder for the elders in the family.
        <br>
        Future: we will shift to B2B: we will sell our product to major pharmaceutical companies, such as CVS and Walgreens. As B2B strategies have a higher volume in sales, this is beneficial for business development and brand foundation.
         
        
      

      
      </p> 
    </div>

    

   

 
    
  </body>>  

    
    