<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>Product Specifications:</h2>
      <p class="para solid border">A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per day.<br> 
        During the time the user needs to take pills, the alarm will sound indicating which sticker/pills they need to take with the pre-recorded sounds from their family members/physicians. The user then can take the bottle next to the reminder, if it’s the correct one, the reminder will state that it's correct and the amount the user should take each time; if it's not, the reminder will ask the user to try another bottle.<br>  
        Pill Care also comes with a screen that can be attached to the Pill Care to display large font text for hearing-impaired elders.<br> 
          Pill Care also incorporates an app which sends notification to the user and the family whether pills need to be taken, and when the pills are taken by the patient. 
        </p> 
    </div>

    <div>
      <h2>Target Customer:</h2>
      <p class="dashed border">Family members who <br>
        1. have elders with vision or hearing problems and need to take pills frequently;<br>
        2. care a lot for their families;<br>
        3. Can’t be around the elders 24/7.
        </p> 
    </div>

   

    <div>
      <h2>Product usage specification:</h2>
      <p class="paraBlue groove border">
        John is a good buddy who cares a lot for his old grandma who can’t see things clearly right now<br>
        Set up phase:<br>
          1. John stick the stickers to one of the pill bottle <br>
          2. John put the bottle on the Pill Care<br>
          3. Pill Care “Bipped, start recording voice”<br>
          4. John: “Grandma, please take this pill 3 pieces now, It’s john, love ya!”<br>
          5. John then set up the time on the screen of PillCare<br>
        <img src="usage1.jpg" width="500" height="600">
        <br>
        <br>
        Use Phase:<br>
          1. It’s 7:00 pm! Pill Care says:“Pill Time!”<br>
          2. Grandma hold up one of the pill bottle and put it on Pill Care<br>
          3. “Not this one! Try another one please!”<br>
          4. Grandma tries another pill bottle<br>
          5. “This one! “Grandma, please take this pill 3 pieces now, it’s John, love ya!”<br>
          6. Grandma then happily takes the pill for 3 pieces with the love of his grandson in heart.<br>
        <img src="usage2.jpg" width="500" height="600">
       
      </p> 
    </div>

    <div>
      <h2>Empathy map:</h2>
      <img src="empathymap1.png" width="800" height="600">
      <img src="empathymap2.png" width="800" height="600">

    </div>
    
  </body>>  

    
    