<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>UI Mock Up</h2>
      <p class="para solid border">
        The Pill Care consists of Pill Caps and Pill Care Box. <br>
        Pill Caps:<br>
        <img src="UI1.jpg" width="800" height="600"><br>
        Our Pill Caps are suitable for common pill bottles from pharmacies. We will research on various sizes of the pill caps that can include
         90% of the pill bottles in the market. Pill Caps will have multiple sizes based on the research and it's designed to be easily replace the normal caps. 
        <br>
        Pill Care Box:<br>
        <img src="UI2.jpg" width="800" height="600"><br>
        Our Pill Care Box is a light-weighted rectangle box that has:<br>
        1. RFID scan place<br>
        2. Alarm setting place<br>
        3. speaker and microphone<br>
        The scanning process of pill caps on the Box is designed to be elders friendly and easy to use. The elders simply swipe the pill bottles that have our caps to the scanning place and the recorded voice will play out loud.<br>
        The alarm setting place is designed for adults and kids who can use smart phones regularly. Our design will resemble clocks and alarms setting designs in people's smart phone. <br>
        Finally, the speaker will defaultly play out in a loud volum in case the elders have hearing problems. 


      
      </p> 
    </div>

    

   

 
    
  </body>>  

    
    