<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Page Info -->
    <title>Xunhao Yang</title>
    <meta name="author" content="Xunhao Yang">
    <meta name="description" content="ECE140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div >
      <h1> ECE140B Individual Assignment       </h1>
      <p> Xunhao Yang </p>
    </div>

    <h1 class="rainbow-letters">
      <span>P</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>-</span>
      <span>C</span>
      <span>A</span>
      <span>R</span>
      <span>E</span>
    </h1>

    <a href='/'><button>back</button></a>

    <div>
      <h2>Feature vs benefit</h2>
      
        <img src="feature.png" width="800" height="600"><br>

      
      </p> 
    </div>

    <div>
      <h2>Product Interaction</h2>
      <p class="paraBlue solid border">
      <br>
      Users can take each pill bottle with their RFID sticker attached to it to the RFID scanner on the Pill Care device for setting up and verifying pills to take. This interaction gives users a straightforward way to identify each bottle, and especially for those elders, this interaction allows them to take correct pills at a given time without reading pill bottle instructions, which can be proven to be a demanding task. 
      <br>
      <br>
      Users can record their voice and hear their own recording playback at the scheduled time. This voice interaction allows the product to pass personal messages between users’ families and makes elders in the family feel cared and bonded with their children and grandchildren. 
      <br>
      <br>
      Users can set up, edit, and review their medication schedule via an OLED display and keypad interaction. There are context descriptions on an OLED display at each page and status of the process for users to monitor their progress.
      <br>
      <br>
      Users can set up behavioral interaction via the form of voice recording. When a pill is taken by the user, a pre-recorded voice will be played to reward the user. This interaction can incentivize the users to take pills on time for their own health. 
      </p>>
      

      
      </p> 
    </div>

    

   

 
    
  </body>>  

    
    